.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  }

.ptitle {
  width: 100%;
  align-self: center;
  margin-bottom: 16px;
  display: block ;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content:space-around; 

   
}
.project {
  max-width: 500px;
  padding: 16px;
  border: 1px solid black;
  margin: 8px;
}

.project cardMedia {
  border-radius: 50px;
}